<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img src="../../../../assets/logo.png" width="30" height="30" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a i18n class="nav-link active" aria-current="page" routerLink="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            i18n
            class="nav-link active"
            aria-current="page"
            routerLink="/trips"
            >Trips</a
          >
        </li>
        <li *ngIf="activeRole === 'EXPLORER'" class="nav-item">
          <a
            i18n
            class="nav-link active"
            aria-current="page"
            [routerLink]="['/applications/']"
            >Applications
          </a>
        </li>
        <li class="nav-item" *ngIf="activeRole === 'MANAGER'">
          <a
            i18n
            class="nav-link active"
            aria-current="page"
            [routerLink]="['/trips/manage/', currentActor?._id]"
            >Manage Trips</a
          >
        </li>
        <li class="nav-item" *ngIf="activeRole === 'MANAGER'">
          <a
            i18n
            class="nav-link active"
            aria-current="page"
            [routerLink]="['/applications/manage/', currentActor?._id]"
            >Manage Applications</a
          >
        </li>
        <li class="nav-item" *ngIf="activeRole === 'ADMINISTRATOR'">
          <a class="nav-link active" aria-current="page" routerLink="/dashboard"
            >Dashboard</a
          >
        </li>
        <li class="nav-item" *ngIf="activeRole === 'ADMINISTRATOR'">
          <a
            i18n
            class="nav-link active"
            aria-current="page"
            routerLink="/manage-accounts"
            >Manage accounts</a
          >
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          i18n-placeholder
          placeholder="Search"
          aria-label="Search"
        />
        <button i18n class="btn btn-outline-success me-2" type="submit">
          Search
        </button>
      </form>
      <button class="btn btn-secondary me-2" (click)="changeLanguage('en')">
        EN
      </button>
      <button class="btn btn-secondary me-2" (click)="changeLanguage('es')">
        ES
      </button>
      <div class="d-flex p-1">
        <ul
          class="navbar-nav mb-2 mg-lg-0 me-2 justify-content-center align-items-center"
        >
          <li class="nav-item" *ngIf="!currentActor">
            <a i18n routerLink="/login" class="nav-link active"><i>Login</i></a>
          </li>
          <li class="nav-item">
            <a
              i18n
              routerLink="/register"
              class="nav-link active"
              *ngIf="!currentActor"
              ><i>Register</i></a
            >
          </li>
          <li>
            <div
              ngbDropdown
              class="flex-shrink-0 dropdown"
              *ngIf="currentActor"
            >
              <a
                ngbDropdownToggle
                href="#"
                class="d-block link-dark text-decoration-none dropdown-toggle"
                id="dropdownUser2"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  fill="currentColor"
                  class="bi bi-person-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                  />
                </svg>
              </a>
              <ul
                ngbDropdownMenu
                class="dropdown-menu text-small shadow dropdown-menu-end"
                aria-labelledby="dropdownUser2"
              >
                <li ngbDropdownItem>
                  <a
                    i18n
                    class="dropdown-item"
                    [routerLink]="['/profile/', currentActor._id]"
                    >Profile</a
                  >
                </li>
                <li ngbDropdownItem><hr class="dropdown-divider" /></li>
                <li ngbDropdownItem>
                  <a i18n class="dropdown-item" (click)="logOut()">Sign out</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
