<form
  *ngIf="this.authService.getCurrentActor()?.role === 'EXPLORER'"
  [formGroup]="finderForm"
  (ngSubmit)="onSearch()"
  class="d-flex mt-2"
  role="search"
>
  <div class="form-floating me-2">
    <input
      class="form-control me-2 mb-2"
      type="search"
      [placeholder]="'key-word' | translate"
      aria-label="Key word"
      formControlName="keyWord"
    />
    <label class="label-top">{{ "key-word" | translate }}</label>
  </div>
  <div class="form-floating me-2">
    <input
      id="fromDate"
      class="form-control me-2 mb-2"
      type="date"
      placeholder="From:"
      aria-label="Search"
      formControlName="fromDate"
    />
    <label class="label-top">{{ "from" | translate }}</label>
  </div>
  <div class="form-floating me-2">
    <input
      class="form-control me-2 mb-2"
      type="date"
      placeholder="Search"
      aria-label="To:"
      formControlName="toDate"
    />
    <label for="fromDate" class="label-top">To</label>
  </div>
  <div class="form-floating me-2">
    <input
      class="form-control me-2 mb-2"
      type="number"
      placeholder="From price"
      aria-label="From price"
      formControlName="fromPrice"
    />
    <label class="label-top">From price</label>
  </div>
  <div class="form-floating me-2">
    <input
      class="form-control me-2 mb-2"
      type="number"
      placeholder="To price"
      aria-label="To price"
      formControlName="toPrice"
    />
    <label class="label-top">To price</label>
  </div>
  <button class="btn btn-success me-2 mb-2" type="submit">
    {{ "search" | translate }}
  </button>
</form>

<form
  *ngIf="
    !this.authService.getCurrentActor() ||
    this.authService.getCurrentActor()?.role != 'EXPLORER'
  "
  [formGroup]="searchWordForm"
  (ngSubmit)="searchWordSearch()"
  class="d-flex"
  role="search"
  #f="ngForm"
  novalidate
>
  <div class="form-floating me-2 mt-2">
    <input
      class="form-control me-2 mb-2"
      type="search"
      placeholder="'key-word' | translate"
      aria-label="Key word"
      formControlName="keyWordSearch"
    />
    <label class="label-top">{{ "key-word" | translate }}</label>
  </div>
  <button
    [disabled]="f.form.invalid"
    class="btn btn-success me-2 mb-2 mt-2"
    type="submit"
  >
    {{ "search" | translate }}
  </button>
  <button class="btn btn-warning me-2 mb-2 mt-2" (click)="resetSearch()">
    {{ "reset" | translate }}
  </button>
</form>

<select
  class="form-select mw-20 mb-3 small-select"
  aria-label="sorting options"
  (change)="sortTrips($event)"
>
  <option selected>{{ "sort" | translate }}</option>
  <option value="1">{{ "price-low-high" | translate }}</option>
  <option value="2">{{ "price-high-low" | translate }}</option>
  <option value="3">{{ "date-closest" | translate }}</option>
  <option value="4">{{ "date-furthest" | translate }}</option>
</select>

<div *ngIf="trips && trips.length > 0" class="row row-cols-1 row-cols-md-3 g-4">
  <div *ngFor="let trip of trips" class="col">
    <div
      style="cursor: pointer"
      (click)="displayTrip(trip._id)"
      class="card bg-secondary"
      [class.trip-soon]="isTripSoon(trip.startDate)"
    >
      <img
        *ngIf="trip.pictures.length == 0"
        src="../../../../assets/noImg.jpg"
        class="card-img-top"
        alt="..."
        height="250"
        width="250"
      />
      <img
        *ngIf="trip.pictures.length > 0"
        src="../../../../assets/logo.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{ trip.title }}</h5>
        <p class="card-text">
          {{ trip.description }}
        </p>
        <p class="card-text">Price: € {{ trip.totalPrice }}</p>
        <p class="card-text">
          <small
            >{{
              "trip-start"
                | translate : { tripStartDate: formatDate(trip.startDate) }
            }},
            {{
              "trip-end" | translate : { tripEndDate: formatDate(trip.endDate) }
            }}</small
          >
        </p>
        <p class="card-text" *ngIf="!isTripStarted(trip.startDate)">
          <small>{{ "the-trip-has-started" | translate }}</small>
        </p>

        <p class="card-text" *ngIf="isTripStarted(trip.startDate)">
          <small>{{
            "trip-starts-in"
              | translate : { remainingTime: remainingTimes[trip._id] }
          }}</small>
        </p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!trips || trips.length == 0">Sorry, no items found</div>
