<form
  *ngIf="this.authService.getCurrentActor()?.role === 'EXPLORER'"
  [formGroup]="finderForm"
  (ngSubmit)="onSearch()"
  class="d-flex"
  role="search"
>
  <div class="form-floating me-2">
    <input
      class="form-control me-2 mb-2"
      type="search"
      i18n-placeholder
      placeholder="Key word"
      aria-label="Key word"
      formControlName="keyWord"
    />
    <label class="label-top">Key word</label>
  </div>
  <div class="form-floating me-2">
    <input
      id="fromDate"
      class="form-control me-2 mb-2"
      type="date"
      i18n-placeholder
      placeholder="From:"
      aria-label="Search"
      formControlName="fromDate"
    />
    <label class="label-top">From</label>
  </div>
  <div class="form-floating me-2">
    <input
      class="form-control me-2 mb-2"
      type="date"
      i18n-placeholder
      placeholder="Search"
      aria-label="To:"
      formControlName="toDate"
    />
    <label for="fromDate" class="label-top">To</label>
  </div>
  <div class="form-floating me-2">
    <input
      class="form-control me-2 mb-2"
      type="number"
      i18n-placeholder
      placeholder="From price"
      aria-label="From price"
      formControlName="fromPrice"
    />
    <label class="label-top">From price</label>
  </div>
  <div class="form-floating me-2">
    <input
      class="form-control me-2 mb-2"
      type="number"
      i18n-placeholder
      placeholder="To price"
      aria-label="To price"
      formControlName="toPrice"
    />
    <label class="label-top">To price</label>
  </div>
  <button class="btn btn-outline-success me-2 mb-2" type="submit">
    Search
  </button>
</form>

<form
  *ngIf="
    !this.authService.getCurrentActor() ||
    this.authService.getCurrentActor()?.role != 'EXPLORER'
  "
  [formGroup]="searchWordForm"
  (ngSubmit)="searchWordSearch()"
  class="d-flex"
  role="search"
  #f="ngForm"
  novalidate
>
  <div class="form-floating me-2">
    <input
      class="form-control me-2 mb-2"
      type="search"
      i18n-placeholder
      placeholder="Key word"
      aria-label="Key word"
      formControlName="keyWordSearch"
    />
    <label i18n class="label-top">Key word</label>
  </div>
  <button
    [disabled]="f.form.invalid"
    i18n
    class="btn btn-outline-success me-2 mb-2"
    type="submit"
  >
    Search
  </button>
</form>

<div *ngIf="trips && trips.length > 0" class="row row-cols-1 row-cols-md-3 g-4">
  <div *ngFor="let trip of trips" class="col">
    <div
      class="card"
      style="cursor: pointer"
      (click)="displayTrip(trip._id)"
      [class.trip-soon]="isTripSoon(trip.startDate)"
    >
      <img
        *ngIf="trip.pictures.length == 0"
        src="../../../../assets/noImg.jpg"
        class="card-img-top"
        alt="..."
        height="250"
        width="250"
      />
      <img
        *ngIf="trip.pictures.length > 0"
        src="../../../../assets/logo.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{ trip.title }}</h5>
        <p class="card-text">
          {{ trip.description }}
        </p>
        <p i18n class="card-text">Price: € {{ trip.totalPrice }}</p>
        <p class="card-text">
          <small class="text-muted"
            >From: {{ formatDate(trip.startDate) }}, To:
            <!-- TODO FIX DATEPIPE -->
            {{ formatDate(trip.endDate) }}</small
          >
        </p>

        <p class="card-text">
          <small class="text-muted"
            >Trip starts in: {{ remainingTimes[trip._id] }}</small
          >
        </p>
        <!--         <a [routerLink]="['/trips/', trip._id]" class="btn btn-primary"
          >Explore trip</a
        > -->
      </div>
    </div>
  </div>
</div>
<div i18n *ngIf="!trips || trips.length == 0">Sorry, no items found</div>
