<form
  [formGroup]="registrationForm"
  (ngSubmit)="onRegister()"
  class="text-dark"
>
  <fieldset>
    <legend>{{ "register-new-actor" | translate }}</legend>
    <div class="form-group has-danger">
      <label for="name">{{ "name" | translate }}:</label>
      <input
        id="name"
        class="form-control"
        type="text"
        formControlName="name"
      />
    </div>
    <div
      *ngIf="registrationForm.get('name')?.hasError('required')"
      class="alert alert-danger"
    >
      {{ "name-required" | translate }}
    </div>

    <div class="form-group has-danger">
      <label for="surname">{{ "surname" | translate }}:</label>
      <input
        id="surname"
        class="form-control"
        type="text"
        formControlName="surname"
      />
    </div>
    <div
      *ngIf="registrationForm.get('surname')?.hasError('required')"
      class="alert alert-danger"
    >
      {{ "surname-required" | translate }}
    </div>

    <div class="form-group has-danger">
      <label for="phone">{{ "phone" | translate }}:</label>
      <input
        id="phone"
        class="form-control"
        type="text"
        formControlName="phone"
      />
    </div>
    <div
      *ngIf="registrationForm.get('phone')?.hasError('pattern')"
      class="alert alert-danger"
    >
      {{ "invalid-phone" | translate }}
    </div>

    <div class="form-group has-danger">
      <label for="address">{{ "address" | translate }}:</label>
      <input
        id="address"
        class="form-control"
        type="text"
        formControlName="address"
      />
    </div>
    <div
      *ngIf="registrationForm.get('address')?.hasError('minlength')"
      class="alert alert-danger"
    >
      {{ "adress-must-have-2-chars" | translate }}
    </div>
    <div class="form-group has-danger">
      <label for="email">{{ "email" | translate }}:</label>
      <input
        id="email"
        class="form-control"
        type="text"
        formControlName="email"
      />
    </div>
    <div
      *ngIf="registrationForm.get('email')?.hasError('required')"
      class="alert alert-danger"
    >
      {{ "email-required" | translate }}
    </div>
    <div
      *ngIf="registrationForm.get('email')?.hasError('email')"
      class="alert alert-danger"
    >
      {{ "enter-valid-email" | translate }}
    </div>

    <div class="form-group has-danger">
      <label for="password">{{ "password" | translate }}:</label>
      <input
        id="password"
        class="form-control"
        type="password"
        formControlName="password"
      />
    </div>
    <div
      *ngIf="registrationForm.get('password')?.hasError('required')"
      class="alert alert-danger"
    >
      {{ "password-required" | translate }}
    </div>

    <button
      type="submit"
      [disabled]="!registrationForm.valid"
      class="btn btn-dark"
    >
      Register
    </button>

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <p>
          {{ "already-registered" | translate }}
          <a class="link-underline-light" routerLink="/login">{{
            "login" | translate
          }}</a>
        </p>
      </div>
    </div>
  </fieldset>
</form>
