<form>
  <div class="form-group">
    <label for="firstname">Firstname</label>
    <input
      type="text"
      class="form-control"
      id="firstnameInput"
      aria-describedby="firstnameHelp"
      placeholder="Enter firstname"
    />
  </div>
  <div class="form-group">
    <label for="surname">Surname</label>
    <input
      type="text"
      class="form-control"
      id="surnameInput"
      aria-describedby="surnameHelp"
      placeholder="Enter surname"
    />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      id="emailInput"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="adress">Adress</label>
    <input
      type="text"
      class="form-control"
      id="adressInput"
      aria-describedby="adressHelp"
      placeholder="Enter adress"
    />
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input
      type="phone"
      class="form-control"
      id="phoneInput"
      aria-describedby="phoneHelp"
      placeholder="Enter phone"
    />
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="passwordInput"
      placeholder="Enter password"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <p>Already registered? <a routerLink="/login">Login</a></p>
</form>
