<div class="text-dark" *ngFor="let trip of trips; let j = index">
  <h4>Trip: {{ trip.title }}</h4>
  <p *ngIf="trip.applications.length === 0">
    You have no applications to manage
  </p>
  <div class="accordion" id="accordionExample">
    <div
      *ngFor="let application of trip.applications; let i = index"
      [attr.data-index]="i"
      class="accordion-item"
      [ngClass]="{
        'accordion-item-rejected': application.status.status === 'REJECTED',
        'accordion-item-accepted': application.status.status === 'ACCEPTED',
        'accordion-item-pending': application.status.status === 'PENDING',
        'accordion-item-due': application.status.status === 'DUE',
        'accordion-item-cancelled': application.status.status === 'CANCELLED'
      }"
    >
      <h2 class="accordion-header" [id]="'heading' + i + j">
        <button
          class="accordion-button"
          [ngClass]="{
            'accordion-item-rejected': application.status.status === 'REJECTED',
            'accordion-item-accepted': application.status.status === 'ACCEPTED',
            'accordion-item-pending': application.status.status === 'PENDING',
            'accordion-item-due': application.status.status === 'DUE',
            'accordion-item-cancelled':
              application.status.status === 'CANCELLED'
          }"
          type="button"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#collapse' + i + j"
          aria-expanded="true"
          [attr.aria-controls]="'collapse' + i + j"
        >
          Application {{ i + 1 }}:
        </button>
      </h2>
      <div
        [attr.id]="'collapse' + i + j"
        class="accordion-collapse collapse"
        [attr.aria-labelledby]="'heading' + i + j"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body flex">
          <div>
            <p class="accordion-text">
              Date created:
              {{ formatDate(application.dateCreated) }}
            </p>
            <p class="accordion-text">
              Status: {{ application.status.status }}
            </p>
            <p class="accordion-text">
              Description: {{ application.status.description }}
            </p>
            <p *ngIf="application.comments.length > 0">Comments:</p>

            <div *ngFor="let comment of application.comments">
              {{ comment }}
            </div>
          </div>
          <div>
            <button
              (click)="changeApplicationToDue(application._id)"
              *ngIf="application.status.status === 'PENDING'"
              class="btn btn-warning me-2 mb-2"
            >
              Change to due
            </button>
            <button
              (click)="onRejectApplicationClick(application._id)"
              *ngIf="application.status.status === 'PENDING'"
              class="btn btn-danger me-2 mb-2"
            >
              Reject
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-custom-dialog
    *ngIf="showDialog"
    title="{{ 'reject-application-title' | translate }}"
    message="{{ 'reject-application-message' | translate }}"
    (onYesClick)="onDialogYesClick($event)"
    (onNoClick)="onDialogNoClick($event.confirmed)"
    [showReasonInput]="true"
  >
  </app-custom-dialog>
</div>
<div class="text-center text-dark mt-2" *ngIf="!trips || trips.length == 0">
  <h5>{{ "you-have-no-applications-to-manage" | translate }}</h5>
</div>
