<div class="d-flex justify-content-between">
  <form
    *ngIf="
      !this.authService.getCurrentActor() ||
      this.authService.getCurrentActor()?.role != 'EXPLORER'
    "
    [formGroup]="searchWordForm"
    (ngSubmit)="searchWordSearch()"
    class="d-flex"
    role="search"
    #f="ngForm"
    novalidate
  >
    <div class="form-floating me-2">
      <input
        class="form-control me-2 mb-2"
        type="search"
        [placeholder]="'key-word' | translate"
        aria-label="Key word"
        formControlName="keyWordSearch"
      />
      <label class="label-top">{{ "key-word" | translate }}</label>
    </div>

    <button
      [disabled]="f.form.invalid"
      class="btn btn-outline-success me-2 mb-2"
      type="submit"
    >
      {{ "search" | translate }}
    </button>
  </form>
  <button
    class="btn btn-outline-success me-2 mb-2"
    (click)="navigateToCreateTrip()"
  >
    {{ "create-new-trip" | translate }}
  </button>
</div>

<div *ngIf="trips && trips.length > 0" class="row row-cols-1 row-cols-md-3 g-4">
  <div *ngFor="let trip of trips" class="col">
    <div
      class="card"
      style="cursor: pointer"
      (click)="displayTrip(trip._id)"
      [class.trip-soon]="isTripSoon(trip.startDate)"
    >
      <img
        *ngIf="trip.pictures.length == 0"
        src="../../../../assets/noImg.jpg"
        class="card-img-top"
        alt="..."
        height="250"
        width="250"
      />
      <img
        *ngIf="trip.pictures.length > 0"
        src="../../../../assets/logo.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{ trip.title }}</h5>
        <p class="card-text">
          {{ trip.description }}
        </p>
        <p class="card-text">
          {{ "price:" | translate : { price: trip.totalPrice } }}
        </p>
        <p class="card-text">
          <small class="text-muted"
            >From: {{ formatDate(trip.startDate) }}, To:
            <!-- TODO FIX DATEPIPE -->
            {{ formatDate(trip.endDate) }}</small
          >
        </p>

        <p class="card-text">
          <small class="text-muted"
            >Trip starts in: {{ remainingTimes[trip._id] }}</small
          >
        </p>
        <!--         <a [routerLink]="['/trips/', trip._id]" class="btn btn-primary"
          >Explore trip</a
        > -->
      </div>
    </div>
  </div>
</div>
<div *ngIf="!trips || trips.length == 0">
  {{ "no-trips-found" | translate }}
</div>
