$body-bg:       #282828

$nav-tabs-link-active-color: #f12313 
$footer-bg: #f12313 
$input-bg: lighten($body-bg, 20%)
$input-color:    #fafbfc
$placeholder-color: #fafbfc


$primary: #282828
$secondary: #647878
$button-bg: #4287f5
$btn-link-color: #4287f5

$accordion-bg: #647878
$accordion-button-bg:#647878

$accordion-button-active-color: #4747ff
$accordion-button-active-bg: #647878

$input-placeholder-color: #b8b6b6

$input-focus-color: #ffffff

$dark: #FFFFFF 

$green: #379e51

$text: #ffffff 

@import 'node_modules/bootstrap/scss/bootstrap'
