/* You can add global styles to this file, and also import other style files */
/* div,
nav,
header {
  background-color: darkslategray;
}
body {
  background-color: darkslategrey;
}

p,
h1,
h2,
h3,
h4,
h4 {
  color: white;
}

app-root {
  background-color: darkslategrey;
}
 */
